{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ring-server/ring-server {:mvn/version "0.5.0"}
        ring/ring-devel {:mvn/version "1.8.2"}
        compojure/compojure {:mvn/version "1.6.2"}
        cryogen-flexmark/cryogen-flexmark {:mvn/version "0.1.5"}
        cryogen-core/cryogen-core {:mvn/version "0.4.1"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}}
 :aliases {;; Compile the theme's client code (src/cljs) to themes/lotus/js/site.js:
           ;; `clojure -M:cljs`
           :cljs {:extra-paths ["src/cljs"]
                  :extra-deps  {org.clojure/clojurescript {:mvn/version "1.11.132"}}
                  :main-opts   ["-m" "cljs.main" "-co" "cljs.edn" "-c" "blobing.site"]}
           ;; Run with `clojure -M:build`
           :build {:main-opts ["-m" "cryogen.core"]}
           ;; Start a server serving the blog: `clojure -X:serve`
           ;; (requires tools-deps 0.9.745+)
           :serve {:exec-fn   cryogen.server/serve
                   :exec-args {:port 3000}}
           :serve-fast {:exec-fn   cryogen.server/serve
                        :exec-args {:port 3000, :fast true}}
           :test {:extra-paths ["test/clj"]
                  :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts   ["-m" "cognitect.test-runner" "-d" "test/clj"]}}
 :paths ["src/clj"]}
