@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400, 700;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300,400,700;
    font-display: swap;
    src: local('Oxygen Light'), local('Oxygen-Light'),
         url('../fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Inconsolata';
    font-style: math;
    font-display: swap;
    src: local('Inconsolata Math'), local('Inconsolata-Math'),
         url('../fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('opentype');
}
