<!DOCTYPE html>
<html lang="en">
  <head>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
      MathJax = {
	  tex: {
	      // packages: ['base,asm'],        // extensions to use
	      inlineMath: [              // start/end delimiter pairs for in-line math
		  ['\\(', '\\)']
	      ],
	      displayMath: [             // start/end delimiter pairs for display math
		  ['$$', '$$'],
		  ['\\[', '\\]'],
		  ['\begin{equation}', '\end{equation}']
	      ],
	      processEscapes: true,      // use \$ to produce a literal dollar sign
	      processEnvironments: true, // process \begin{xxx}...\end{xxx} outside math mode
	      processRefs: true,         // process \ref{...} outside of math mode
	      digits: /^(?:[0-9]+(?:\{,\}[0-9]{3})*(?:\.[0-9]*)?|\.[0-9]+)/,
              // pattern for recognizing numbers
	  }};
    </script>
    <meta charset="utf-8">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link id="theme-style" rel="stylesheet" type="text/css" href="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:300,400,700|Inconsolata" rel="stylesheet">
    {% style "css/fancy.css"%}
    {% style "css/normalize.css" %}
    {% style "css/header.css" %}
    <!-- {% style "css/default.css"%} -->
    <!-- {% style "css/blue.css"%} -->
    <!-- {% style "css/green.css"%} -->
    <!-- {% style "css/purple.css"%} -->
    <!-- {% style "css/blog.css" %} -->
    {% style "css/lotus-highlightjs.min.css" %}
  </head>
  <body>
    <nav id="sidebar-links">

    <aside id="sidebar">
      <div class="fancy-area">
	<div class="fancy"></div>
	<nav id="socialmedia">
	  <ul class="socialmedia">
	    <li>
	      <a title="DCC" href="https://www.buddhilw.com/" rel="external">
		<img align="left" alt="buddhilw.com" width="22px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg"/>
	      </a>
	    </li>
	    <li>
	      <a title="GitHub" href="https://github.com/BuddhiLW" rel="external">
		<img align="left" alt="buddhilw | Github" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/github.svg"/>
	      </a> 
	    </li>
	    <li>
	      <a title="Linkedin" href="https://www.linkedin.com/in/pedro-g-branquinho/" rel="external">
		<img align="left" alt="buddhilw | LinkedIn" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/linkedin.svg" />
	      </a>
	    </li>
	  </ul>
	</nav>
      </div>
    </aside>
    </nav>

    <article id="main">
      {% block content %}
      {% endblock %}
      <hr/>
      <div id="footercont">
	<div>
        Copyright &copy; {{today|date:yyyy}} {{author}}
    <!--     <br>Powered by <a href="http://cryogenweb.org">Cryogen</a> -->
    <!--     <br>Initially themed by <a href="http://github.com/KingMob">KingMob</a> -->
    <!--     <br>Extended by <a href="http://github.com/BuddhiLW/Blobing">BuddhiLW</a> -->
    <!-- 	</div> -->
    <!-- 	<div> -->
    <!-- 	  <span style="font-size:50px">🅭🅯🄎</span> -->
    <!-- 	</div> -->
    <!-- 	<div> -->
    <!-- 	  <span style="font-size:50px">🅭🅯🄎</span> -->
	</div>
      </div>
    </article>

    {% script "js/highlight.pack.js" %}
    <script type="text/javascript" src="/js/color-scheme.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% if post.klipse %} {{post.klipse|safe}} {% endif %}
    {% if page.klipse %} {{page.klipse|safe}} {% endif %}
  </body>
</html>
