<div id="prev-next">
    {% if prev %}
    <div class="item">
        <a class="prev" href="{{prev.uri}}">
            <div class="nav-link">
                <svg class="icon icon-circle-left">
                    <use xlink:href="{{blog-prefix}}/img/icons.svg#icon-circle-left"></use>
                </svg>
                <div class="nav-text">{{prev.title}}</div>
            </div>
        </a>
    </div>
    {% else %}
    <div class="prev"></div>
    {% endif %}
    {% if next %}
    <div class="item">
        <a class="next" href="{{next.uri}}">

            <div class="nav-link">
                <div class="nav-text">{{next.title}}</div>
                <svg class="icon icon-circle-right">
                    <use xlink:href="{{blog-prefix}}/img/icons.svg#icon-circle-right"></use>
                </svg>
            </div>
        </a>
    </div>
    {% else %}
    <div class="next"></div>
    {% endif %}
</div>
